In [1]:
import pandas as pd
import collections
import couchdb
import json
import pandas as pd
from collections import Counter, defaultdict
import csv
import geopandas as gpd
import shapely
import re
import spacy
import nltk
nlp = spacy.load('en_core_web_lg')
regex = re.compile('[^a-zA-Z ,]')

In [28]:
couch_server = couchdb.Server("http://admin:password@103.6.254.59:9584/")
db = couch_server['tweeter_test']
view = db.view('_design/counts/_view/party_in_cities', reduce=True, group=True)

In [30]:
count = Counter()
for item in view:
    key = item.key
    value = item.value
    print(item)
    break
#     count[key] += item.value

<Row key=['adelaide', 'Animal Justice Party'], value=3>

In [26]:
df = pd.DataFrame(count.items())
df = df.rename(index=str, columns={0: "place", 1: "counts"})
df.shape

(8, 2)

In [27]:
df.sort_values('counts', ascending = False)

                          place  counts
1               new south wales    1408
6                      victoria    1313
3                    queensland     678
7             western australia     320
0  australian capital territory     200
4               south australia     175
5                      tasmania      83
2            northern territory      19

In [ ]:
from nltk import word_tokenize
def get_city_state_country():
    regex2 = re.compile('[^a-zA-Z ]')
    for index, row in df.iterrows():
        text = regex2.sub('', row['place']).strip().lower()
        tokenized = set(word_tokenize(text))
        city = None
        state = None
        country = None
        common = tokenized.intersection(set(cities.keys()))
        if len(common) == 1:
            city = common.pop()
            state = cities[city]
            country = 'australia'
        else:
            common = tokenized.intersection(set(states.keys()))
            if len(common) == 1:
                state = states[common.pop()]
                country = 'australia'
            elif len(tokenized.intersection(countries)) > 0:
                country = 'australia'
        if city or state or country:
            return (city,state,country)
        else:
            None

In [ ]:
cities['brunswick east']

In [ ]:
def initialize_location_dictionaries()
    df_city_names = pd.read_csv('csv_files/australia_city_names.csv')
    cities = {}
    for index, row in df_city_names.iterrows():
        cities[row['city'].lower()] = row['admin'].lower()
    states = {}
    states['NSW'] = 'New South Wales'
    states['QLD'] = 'Queensland'
    states['WA'] = 'Western Australia'
    states['VIC'] = 'Victoria'
    states['SA'] = 'South Australia'
    states['TAS'] = 'Tasmania'
    states['NT'] = 'Northern Territory'
    states['ACT'] = 'Australian Capital Territory'
    states['New South Wales'] = 'New South Wales'
    states['Queensland'] = 'Queensland'
    states['Western Australia'] = 'Western Australia'
    states['Victoria'] = 'Victoria'
    states['South Australia'] = 'South Australia'
    states['Tasmania'] = 'Tasmania'
    states['Northern Territory'] = 'Northern Territory'
    states['Australian Capital Territory'] = 'Australian Capital Territory'
    
    states = dict((k.lower(), v.lower()) for k,v in states.items())
    countries = set(['australia','au'])
    
    return (cities, states, countries)

In [ ]:
tag=list()
locations=list()
for index, location in enumerate(count.keys()):
    doc = nlp(location)
#     print(index, doc)
    for ent in doc.ents:
        locations.append(ent.text)
        tag.append(ent.label_)
#         print(ent.text, ent.label_)

In [ ]:
fd=nltk.FreqDist(locations)
fd.most_common(100)

In [ ]:
import numpy as np
np.unique(tag)

In [ ]:
couch_server = couchdb.Server("http://admin:password@103.6.254.59:9584/")
db = couch_server['twitter']
view = db.view('_design/counts/_view/party', reduce=True, group=True)
count = Counter()
for item in view:
    key = item.key
    value = item.value
    count[key] += item.value
df = pd.DataFrame(count.items())
df = df.rename(index=str, columns={0: "place", 1: "counts"})
df.sort_values('counts', ascending = False)

In [ ]:
df.counts.sum()